<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Square Data</title>
</head>
<body style="background: rgb(252, 250, 250);">
  <div class="login">
   <h1 style="text-align:center">Squared Text</h1>
    <form action="{{ url_for('predict')}}" method="post">
      <label for="data" colo>data:  </label>
      <input type="text" name="data" placeholder="data" required="required">
      <br>
      <button type="submit" class="btn btn-primary btn-block btn-large">Square it!</button>
    </form>
   </div>
   {{Squared_text}}
</body>